<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="db_InventoryEntities" connectionString="metadata=res://*/ILModel.csdl|res://*/ILModel.ssdl|res://*/ILModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db_Inventory;user id=sa;password=Password@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
